@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

/* import components */
@import url(./avatar/avatar.css);
@import url(./badge/badge.css);
@import url(./alert/alert.css);
@import url(./button/button.css);
@import url(./card/card.css);
@import url(./image/image.css);
@import url(./input/input.css);

/* global color variables and font family */
:root {
  --BRAND-COLOR: #ef4444;
  --BRAND-COLOR-LIGHT: #fecaca;
  --BRAND-COLOR-DARK: #dc2626;

  --YELLOW-COLOR: #fde047;
  --YELLOW-COLOR-LIGHT: #fef9c3;
  --YELLOW-COLOR-DARK: #eab308;

  --CYAN-COLOR: #22d3ee;
  --CYAN-COLOR-LIGHT: #a5f3fc;
  --CYAN-COLOR-DARK: #164e63;

  --GREEN-COLOR: #16a34a;
  --GREEN-COLOR-LIGHT: #bbf7d0;
  --GREEN-COLOR-DARK: #14532d;

  --ZINC-COLOR: #d4d4d8;
  --ZINC-COLOR-LIGHT: #fafafa;
  --ZINC-COLOR-DARK: #504e4e;

  --WHITE-COLOR: white;

  --FONT-COLOR: #27272a;
  --BTN-LINK-COLOR: blue;
  --BORDER-COLOR: #a1a1aa;

  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
